.login-page {     
    background-image: url("/static/images/snap-peas.jpeg");
    height: 100vh;
    background-size: cover;
    background-position: center;
} 

.container{
    height: 100%;
    align-content: center;
}

.card{
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
}

.card1{
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 900px;
    background-color: rgba(0,0,0,0.5) !important;
}

.input-group-prepend span{
    width: 50px;
    background-color: #FFC312;
    color: white;
    border:0 !important;
}

input:focus{
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}





