


<h2> {{ api_recipe_title }} </h2>

<p>
        {{ summary }}  <a href={{ data['sourceUrl']}}><i>Source Link</i></a></h5></i>
    </p>


<div>
      <img src={{ recipe_image }}>
</div>

<ul>
    
    <h2>Here's what you'll need:</h2>
    
    <div>
        {% for ingredient in data['extendedIngredients'] %}
          

            <span>
                <img src= 'https://spoonacular.com/cdn/ingredients_100x100/{{  ingredient['image'] }}'>
                {{ ingredient['name'] }}            
            </span>
        {% endfor %}
            
    
        
    </div>
  </ul> 


  <h2>Recipe Card</h2>

  

    <li>
        <b>Prep Time:</b>
        {{ preparationMinutes }} minutes
    </li>
    
    <li>
        <b>Cook Time:</b>
        {{ cookingMinutes }} minutes
    </li>


    <li>
        <b>Likes:</b>
        {{ likes }}
    </li>
    <li>
        <b>Servings:</b>
        {{ serving_size }}
    </li>
  
    <br>
    
    

    <p>
      <b>Ingredients:</b>
{% for ingredient in data['extendedIngredients'] %}
    
    <div>
        <ul>{{ ingredient['originalString']}}</ul>
    </div>
   

{% endfor %}
    <p><b>
        Instructions</b>: {{ instructions }}
    </p>


  <li>
        <b>Diets:</b>
        {{ diet }}
    </li>
     <li>
        <b>Dish Type:</b>
        {{ dish_type }}
    </li>
    <li>
        <b>Cuisines:</b>
        {{ cuisine }}
    </li>

{{ data }}