
<!DOCTYPE html>
<html>
  
  <head>
    <title>Sounds Gouda</title>
      <link rel="stylesheet" type="text/css" href="/static/styles.css">
  </head>
  
  <body>
   <h1>THAT'S WHAT CHEESE SAID</h1>
   <br>
   
    <ul>
      <a href=/main-page>HOME</a>
    </ul>
   
   

    

    <ul>
      <a href=/my-bookmarks/{{ session.get('current_user') }}>MY BOOKMARKS</a>
    </ul>

    <ul>
      <a href=/my-recipes/{{ session.get('current_user') }}>MY RECIPES</a>
    </ul>


    {% if 'current_user' in session %}
          
          <li>{{ session.get('current_user_name') }}</li>

        
          <form action="/logout"> 
            <button>Logout</button>
          </form>
        
      {% else %}
          <li><a href="/">Home</a></li>
    {% endif %}


   <hr>

   <h4> {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
              {% for message in messages %}
                {{ message }}
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </h4>

    {% block content %} CONTENT {% endblock %}
  
  <script src="http://code.jquery.com/jquery.js"></script>
<!--   <script src="/static/main.js"/> -->
  
  <script>
    $('#bookmark').click(e => {
      const $form = $(e.target).parents('form')
      const api_recipe_id = $('#test-id').val()
      console.log(api_recipe_id)
      const isBookmarked = $('#bookmark').html()==='Unbookmark Me!' 
      console.log(isBookmarked)
      if (isBookmarked){
        fetch('/bookmark',{
          method:'DELETE',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            api_recipe_id: api_recipe_id
          })
        }).then(()=>{
          $('#bookmark').html('Bookmark Me!') 
        })
      } else {
        fetch('/bookmark',{
          method:'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            api_recipe_id: api_recipe_id
          })
        }).then(()=>{
          $('#bookmark').html('Unbookmark Me!')
        })
      }
    })
  </script>
  </body>
</html>