
<!DOCTYPE html>
<html>
  
  <head>
    <title>Sounds Gouda</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  
  <body>
    {% if 'current_user' in session %}
          
          <h1><a href='/main-page'>THAT'S WHAT CHEESE SAID</a></h1>

          
          <div id="navigation-wrapper">
          <ul class="link-container bulletless">
            <li><a href=/my-bookmarks/{{ session.get('current_user') }}>BOOKMARKS</a></li>
            <li><a href=/my-recipes>MY RECIPES</a></li>
          </ul>
        
          <div class="user-container">
            <p>Hello {{ session.get('current_user_name') }}</p>
             <form action="/logout"> 
              <button id="logout">Logout</button>
             </form>
          </div>
        </div>
        
      {% else %}
          <h1><a href="/">THAT'S WHAT CHEESE SAID</a></h1>
    {% endif %}


   <hr>

   <h4> {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
              {% for message in messages %}
                {{ message }}
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </h4>

    {% block content %} CONTENT {% endblock %}
  
  <script src="http://code.jquery.com/jquery.js"></script>
<!--   <script src="/static/main.js"/> -->
  
  <script>
    $('#bookmark').click(e => {
      const $form = $(e.target).parents('form')
      const api_recipe_id = $('#test-id').val()
      console.log(api_recipe_id)
      const isBookmarked = $('#bookmark').html()==='Unbookmark Me!' 
      console.log(isBookmarked)
      if (isBookmarked){
        fetch('/bookmark',{
          method:'DELETE',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            api_recipe_id: api_recipe_id
          })
        }).then(()=>{
          $('#bookmark').html('Bookmark Me!') 
        })
      } else {
        fetch('/bookmark',{
          method:'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            api_recipe_id: api_recipe_id
          })
        }).then(()=>{
          $('#bookmark').html('Unbookmark Me!')
        })
      }
    })
  </script>
  </body>
</html>