<!DOCTYPE html>
<html>
  
  <head>
    <title>Sounds Gouda</title>
      <link rel="stylesheet" type="text/css" href="/static/styles.css">
  </head>
  
  <body>
   <h1>THAT'S WHAT CHEESE SAID</h1>
   <br>
   

    {% if 'current_user' in session %}
          
          <li>{{ session['current_user'] }}</li>
          <li><a href="/logout">Logout</a></li>
        
      {% else %}
          <li><a href="/login">Login</a></li>
    {% endif %}

   <hr>

   <h4> {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
              {% for message in messages %}
                {{ message }}
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </h4>

    {% block content %} CONTENT {% endblock %}
  
  <script src="http://code.jquery.com/jquery.js"></script>
<!--   <script src="/static/main.js"/> -->
  
  <script>
    $('#bookmark').click(e => {
      const $form = $(e.target).parents('form')
      const api_recipe_id = $form.find('input[name=api_recipe_id]').val()
      fetch('/bookmark',{
        method:'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          api_recipe_id: api_recipe_id
        })
      })
    })
  </script>
  </body>
</html>