{% extends 'base.html' %}

{% block title %} Recipes {% endblock %}


{% block content %}

    <h1>My Bookmarks</h1>
      <div>
        <ul>
            {% for recipe in bookmark %}
              <li>
                  {{ recipe.api_recipe_id }}
              </li>

              <li>
                  <img src='https://spoonacular.com/recipeImages/{{ recipe.api_recipe_id }}-312x231.jpg'>
              </li>
              <br>

              
            {% endfor %}
        </ul>
      </div>

{% endblock %}


