{% extends 'base.html' %}

{% block title %} Recipes {% endblock %}


{% block content %}

    <h1>My Bookmarks</h1>
      <div>
        <ul>
            {% for bookmark in bookmarks %}
              <li>{{ bookmark.api_recipe_id }}</li>
              <li>{{ bookmark_titles[bookmark.api_recipe_id] }}<li>
                  
                  <img src='https://spoonacular.com/recipeImages/{{ bookmark.api_recipe_id }}-312x231.jpg'>
              </li>
              <br>

              
            {% endfor %}
        </ul>
      </div>

{% endblock %}


