{% extends 'base.html' %}

{% block title %} Recipes {% endblock %}


{% block content %}

    <h1>My Bookmarks</h1>
      <div>
        <ul>
            {% for bookmark in bookmarks %}
              <h3><a href="/recipes/{{ bookmark.api_recipe_id }}">{{ bookmark_titles[bookmark.api_recipe_id] }}</a><h3>
                  
              <img src="https://spoonacular.com/recipeImages/{{ bookmark.api_recipe_id }}-312x231.jpg">
              <br>
              </li>
              <br>

              
            {% endfor %}
        </ul>
      </div>

{% endblock %}


