{% extends 'base.html' %}

{% block title %} Recipes {% endblock %}


{% block content %}

<div>  
  <form>
    <h1>Enter Your Recipe Details:</h1>
    
    <label>Recipe Name</label>
    <br>
    <input type="text" name="recipe_name">
    <br>
    <br>

    <label>Directions</label>
    <br>
    <textarea name="directions"></textarea>
    <br>
    <br>

  </form>
  
  <form>
  Prep Time:
  <select name="prep_time">
      <option value="duration">15 min</option>
      <option value="duration">30 min</option>
      <option value="duration">45 min</option>
      <option value="duration">1 hour</option>
      <option value="duration">1.5 hour</option>
      <option value="duration">2 hours</option>
      <option value="duration">3 hours</option>
      <option value="duration">4+ hours</option>
    </select>

  Cook Time:
  <select name="cook_time">
      <option value="duration">15 min</option>
      <option value="duration">30 min</option>
      <option value="duration">45 min</option>
      <option value="duration">1 hour</option>
      <option value="duration">1.5 hour</option>
      <option value="duration">2 hours</option>
      <option value="duration">3 hours</option>
      <option value="duration">4+ hours</option>
    </select>
  </form>

 <br>

  <form>
    <label>Cuisine</label>
    <br>
    <input type="checkbox" name="Cuisine" value="filipino">
    <label>Filipino</label>

    <input type="checkbox" name="Cuisine" value="american">
    <label>American</label>

    <input type="checkbox" name="Cuisine" value="mexican">
    <label>Mexican</label>

    <input type="checkbox" name="Cuisine" value="greek">
    <label>Greek</label>

    <input type="checkbox" name="Cuisine" value="asian">
    <label>Asian</label>

    <input type="checkbox" name="Cuisine" value="mediterranean">
    <label>Mediterranean</label>

    <input type="checkbox" name="Cuisine" value="latin">
    <label>Latin</label>

    <input type="checkbox" name="Cuisine" value="cuban">
    <label>Cuban</label>

    <input type="checkbox" name="Cuisine" value="chinese">
    <label>Chinese</label>
    <br>
  </form>

 

    <br>
    <input type="submit">


</div>


{% endblock %}