{% extends 'base.html' %}

{% block title %} Recipes {% endblock %}


{% block content %}

 <h1>Enter Your Recipe Details:</h1>

<div>  
  <form action="/enter-recipe" method="POST">
    Recipe Name
    <br>
    <input type="text" name="recipe_name">
    <br>
    <br>

    <label>Ingredients</label>
    <br>
    <textarea name="ingredients"></textarea>
    <br>
    <br>

    <label>Directions</label>
    <br>
    <textarea name="directions"></textarea>
    <br>
    <br>
  
    <div>
    Prep Time:
    <select name="prep-time">
      <option value="15 min">15 min</option>
      <option value="30 min">30 min</option>
      <option value="45 min">45 min</option>
      <option value="1 hour">1 hour</option>
      <option value="1.5 hours">1.5 hour</option>
      <option value="2 hours">2 hours</option>
      <option value="3 hours">3 hours</option>
      <option value="4+ hours">4+ hours</option>
    </select>
    </div>

    <div>
    Cook Time:
    <select name="cook-time">
      <option value="15 min">15 min</option>
      <option value="30 min">30 min</option>
      <option value="45 min">45 min</option>
      <option value="1 hour">1 hour</option>
      <option value="1.5 hours">1.5 hour</option>
      <option value="2 hours">2 hours</option>
      <option value="2.5 hours">3 hours</option>
      <option value="4+ hours">4+ hours</option>
    </select>
    </div>

    <br>

    <br>
    Cuisine:
    <input type="checkbox" name="cuisine" value="Filipino">
    <label>Filipino</label>

    <input type="checkbox" name="cuisine" value="American">
    <label>American</label>

    <input type="checkbox" name="cuisine" value="Mexican">
    <label>Mexican</label>

    <input type="checkbox" name="cuisine" value="Greek">
    <label>Greek</label>

    <input type="checkbox" name="cuisine" value="Asian">
    <label>Asian</label>

    <input type="checkbox" name="cuisine" value="Mediterranean">
    <label>Mediterranean</label>

    <input type="checkbox" name="cuisine" value="latin">
    <label>Latin</label>

    <input type="checkbox" name="cuisine" value="cuban">
    <label>Cuban</label>

    <input type="checkbox" name="cuisine" value="chinese">
    <label>Chinese</label>
    <br>
  

 

    <br>
    
      <input type="submit" value="Enter Recipe!">
    </form>


</div>


{% endblock %}