{% extends 'base.html' %}
{% block content %}


<div>>    
  <h2>Returning Users</h2>
    <h3>Login Here</h3>
    <form action="/login" method="POST">

      <div>
        <label>Email:
          <input type="text" name="email"><br>
        </label>
      </div>

      <div>
        <label>Password:
          <input type="text" name="password"><br>
        </label>
      </div>

      <div>
        <input type="submit" value="login">
      </div>

      </form>

  <h2>New User?</h2>
    <h3><a href="/new-user">Sign Up Here</a></h3>

</div>

{% endblock %}


