{% extends 'base.html' %}
{% block content %}

<head>
  <title>Login Home Page</title>
    <link rel="stylesheet" 
          href="/static/style.css">
</head>  

<body>
  <div class="container">
    <div class="d-flex justify-content-center h-100">
      <div class="card">
        <div class="card-header">
          <h2>Returning Users</h2>

        </div>


      <div class="card-body">

    <h3>Login Here</h3>
    <form action="/login" method="POST">

      <div>
          <input type="text" name="email" placeholder="E-mail"> <br>
        </label>
      </div>

      <div>
          <input type="text" name="password" placeholder="Password"><br>
        </label>
      </div>

      <div>
        <input type="submit" value="login">
      </div>

      </form>
  </div>

  <div class="register-form">
    

  <h2>New User?</h2>
    <h3><a href="/new-user">Sign Up Here</a></h3>
  </div>


{% endblock %}


