{% extends 'base.html' %}

{% block title %} Sounds Gouda {% endblock %}


{% block content %}
   
  <br>
  <h1><center>What would you like to do?</center></h1>
  <br>
  <br>

    <div>
      <div class="container">
        <div class="row">
          <div class="col-3">
            <h4><a href="/ingredients"><center><img src="/static/images/ingredients1.jpeg" style="height:200px;"></center><figcaption><center>Search Recipe by Ingredient</center></figcaption></a></h4>
          </div>
          
          <div class="col-3">
            <h4><a href="/wine-pair"><center><img src="/static/images/wine.jpeg" style="height:200px;"></center><figcaption><center>Get a Wine Pairing</center></figcaption></a></h4>
          </div>

          <div class="col-3">
            <h4><a href="/add-recipe-url-form"><center><img src="/static/images/clam.jpeg" style="height:200px;"></center><figcaption><center>Add Recipe by URL</center></figcaption></a></h4>
          </div>

          <div class="col-3">
            <h4><a href="/enter-recipe"><center><img src="/static/images/cake.jpeg" style="height:200px;"></center><figcaption><center>Enter Your Own Personal Recipe</center></figcaption></a></h4>
          </div>

          <div class="col-3">
            
          </div>


{% endblock %}


