{% extends 'base.html' %}
{% block content %}


<img src="https://spoonacular.com/recipeImages/{{ api_recipe_id }}-312x231.jpg">

<h4><a href="/recipes/{{ api_recipe_id}}">back to recipe details</a></h4>

<h2>BAD Nutrients</h2>
{% for bad in data['bad'] %}
    
    <div>
      <ul><b>{{ bad['title'] }}</b>:{{ bad['amount']}} Percent of Daily Needs {{ bad['percentOfDailyNeeds']}}</ul>
    </div>
{% endfor %}

<h2>GOOD Nutrients</h2>

{% for good in data['good'] %}
    
    <div>
      <ul><b>{{ good['title'] }}</b>:{{ good['amount']}} Percent of Daily Needs {{ good['percentOfDailyNeeds']}}</ul>
    </div>
{% endfor %}


{{ data }}






{% endblock %}