{% extends 'base.html' %}
{% block content %}


<h2> {{ api_recipe_title }} </h2>

    <div>
      <img src={{ recipe_image }}>
        <!-- <form action="/bookmark" method="POST"> -->

        <form>
          <input type="hidden" id='test-id' name="api_recipe_id" value= "{{ api_recipe_id }}">
        </form>

        <button id='bookmark'>Bookmark Me!</button>
    </div>

    <div>
      <a href="/similar-recipes/{{ api_recipe_id }}">More Recipes Like This</a>
    </div>

     <p>
        {{ summary }}  <a href={{ data['sourceUrl']}}><i>Source Link</i></a></h5></i>
    </p>

  
    <h2>Here's what you'll need:</h2>
    <br>
    <div>
      <div class="container">
            <div class="row">

        {% for ingredient in data['extendedIngredients'] %}
          
              <div class="col-3">
                
                  <img src= 'https://spoonacular.com/cdn/ingredients_100x100/{{  ingredient['image'] }}' style="height:100px;">
                  <figcaption><center>{{ ingredient['name'] }}</center></figcaption>
                
               </div>          
            
          
        {% endfor %}
        </div>
            </div>
            
    
        
    </div>
   <br>
   
   <h2>Recipe Card</h2>

  

    <ul>
        <b>Preparation + Cook Time:</b>
        {{ readyInMinutes }} minutes
    </ul>
    <ul>
        <b>Likes:</b>
        {{ likes }}
    </ul>
    <ul>
        <b>Servings:</b>
        {{ serving_size }}
    </ul>
  
    <br>
    
    

    <p>
      <b>Ingredients:</b>
{% for ingredient in data['extendedIngredients'] %}
    
    <div>
        <li>{{ ingredient['originalString']}}</li>
    </div>
   

{% endfor %}
    <p><b>
        Instructions</b>: {{ instructions }}
    </p>


  <li>
        <b>Diets:</b>
        {% for type in diet %}
        {{ type }}.
        {% endfor %}

    </li>
     <li>
        <b>Dish Type:</b>
          {% for type in dish_type %}
          {{ type }}.
          {% endfor %}

    </li>
    <li>
        <b>Cuisines:</b>
          {% for type in cuisine %}

          {{ type }}.

          {% endfor %}
    </li>

<h3><a href="/nutrition/{{ api_recipe_id }}">NUTRITION</a></h3>

{% endblock %}
