{% extends 'base.html' %}

{% block title %} Recipes {% endblock %}


{% block content %}

<h1>i'm hungry</h1>

<h2> {{ api_recipe_title }} </h2>

    <div>
      <img src={{ recipe_image }}>
        <!-- <form action="/bookmark" method="POST"> -->
        <form>
          <input type="hidden" name="api_recipe_id" value= "{{ api_recipe_id }}">
          <div id='bookmark'>Bookmark Me!</div>
        </form>
    </div>

  <ul>
    
    <h2>Here's what you'll need:</h2>
    
    <div>
        {% for ingredient in data['extendedIngredients'] %}
            <span>
                <img src= 'https://spoonacular.com/cdn/ingredients_100x100/{{  ingredient['image'] }}'>
                  {{ ingredient['name']}}            
            </span>
        {% endfor %}
    </div>


    <div>
      {% for ingredient in data['extendedIngredients'] %}
              <span>
                <figure>
                  <img src="https://spoonacular.com/cdn/ingredients_100x100/{{  ingredient['image'] }}">
                   <figcaption>{{ ingredient['name']}}</figcaption> 
                </figure>           
              </span>
        {% endfor %}
</div>




    <p>
        <b>Summary:</b>
        {{ summary }}
    </p>

    <li>
        <b>Preparation Time:</b>
        {{ preparation_time }} minutes
    </li>
    <li>
        <b>Cooking Time:</b>
        {{ cooking_time }} minutes
    </li>
    <li>
        <b>Likes:</b>
        {{ likes }}
    </li>
    <li>
        <b>Servings:</b>
        {{ serving_size }}
    </li>
    <li>
        <b>Diets:(</b>
        {{ diet }})
    </li>
     <li>
        <b>Dish Type:</b>
        {{ dish_type }}
    </li>
    <li>
        <b>Cuisines:</b>
        {{ cuisine }}
    </li>
    <br>
    
    

    <p>
      <b>Ingredients:</b>
{% for ingredient in data['extendedIngredients'] %}
    
    <div>
        <li>{{ ingredient['originalString']}}</li>
    </div>
   

{% endfor %}
    <p>
        <b>Instructions:</b>
        {{ data['instructions'] }}
    </p>


<a href={{ data['sourceUrl']}}><h5>Source Link</h5></a>

<h3>Test Data</h3>

{{ data['extendedIngredients'] }}

<br>

<script>
</script> 

{% endblock %}
