{% extends 'base.html' %}

{% block title %} Recipes {% endblock %}


{% block content %}

<h1>i'm hungry</h1>

<h2> {{ data['title']}} </h2>

    <img src={{ data['image'] }}>
    <button onclick="addFavorite()">Favorite</button>

    <p>
        <b>Summary:</b>
        {{ data['summary'] }}
    </p>

    <li>
        <b>Preparation Time:</b>
        {{ data['preparationMinutes'] }} minutes
    </li>
    <li>
        <b>Cooking Time:</b>
        {{ data['cookingMinutes'] }} minutes
    </li>
    <li>
        <b>Likes:</b>
        {{ data['aggregateLikes'] }}
    </li>
    <li>
        <b>Servings:</b>
        {{ data['servings'] }}
    </li>
    <li>
        <b>Diets:(</b>
        {{ data['diets'] }})
    </li>
     <li>
        <b>Dish Type:</b>
        {{ data['dishTypes'] }}
    </li>
    <li>
        <b>Cuisines:</b>
        {{ data['cuisines'] }}
    </li>
    <br>
    
    

    <p>
      <b>Ingredients:</b>
{% for ingredient in data['extendedIngredients'] %}
    
    <li>{{ ingredient['originalString']}}</li>
   

{% endfor %}
    <p>
        <b>Instructions:</b>
        {{ data['instructions'] }}
    </p>


<a href={{ data['sourceUrl']}}><h5>Source Link</h5></a>

<h3>Test Data</h3>

{{ data['extendedIngredients'] }}

<br>

<script>
    
function addFavorite() {
    console.log('hello');
}

$.ajax({
    url: "/src/Class-Project/templates/test.py",
    success: function(response) {
        console.log("this is the response from the py: " + response);
    }
})
</script> 

{% endblock %}
