{% extends 'base.html' %}
{% block content %}

<h2>Similar Recipes to "{{ title }}"</h2>
<br>
<br>


<div>
 
  {% for recipe in data  %}
    
      <div class="d-flex justify-content-center h-100">
        <div class="card1 recipe-card">
          <div class="card-body">
            <div class="text-center">
              <h3><a href="/recipes/{{ recipe['id'] }}">{{ recipe['title'] }}</a></h3>
              <img src="https://spoonacular.com/recipeImages/{{ recipe['id'] }}-312x231.jpg">
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}  
  </div>
</div>   
<br>
<br>








{% endblock %}